.row{
	display: flex;
	flex-wrap: wrap;
}
.col{
	padding-left:10px;
	padding-right: 10px;
}

.col-4{
	flex:0 0 33%;
	max-width:33%;

}
.grid-destination{
	padding-top:50px;
    background-color:black;
    padding-bottom: 50px;
    margin: 0px;
}
.grid-cuisines{
	padding-top:50px;
    background-color: black;
    padding-bottom: 50px;
}
.grid-thingstodo{
	padding-top:50px;
    background-color: black;
    padding-bottom: 50px;
}
